@import "../styles/variables";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-primary;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
