.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-header {
  justify-content: center;
  text-align: center;
}

.full-width {
  width: 100%;
}
